{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": ["error", "always"],
    "indent": ["error", 2],
    "no-tabs": "off",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "h", "ignoreRestSiblings": true }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "one-var": ["error", "never"],
    "no-multi-spaces": "off",
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "space-infix-ops": "error",
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "never"],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-alert": "error"
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true
  }
}
